<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de cookies</title>
</head>
<body>

   <form method="post">
      <label for="username">Id:</label>
      <input type="text" id="id" name="id" required><br><br>
      <label for="password">Username:</label>
      <input type="text" id="user" name="user" required><br><br>
      <input type="submit" value="Login">
    </form>
    
</body>
</html>