:root {
    --login-box-width: 350px; /* Adjust the width as needed */
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    text-align: center;
    color: white;
  }
  
  .login-box {
    width: var(--login-box-width);
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  input[type="text"], input[type="password"] {
    background: #2F2F2F;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: calc(100% - 30px);
  }
  
  .btn {
    background: #2F2F2F;
    color: white;
    cursor: pointer;
    border: none;
    padding: 15px;
    width: calc(100% - 30px);
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .btn:hover {
    background: #1c1c1c;
  }
  
  .login-logo img {
    width: 150px; /* Adjusted logo size */
    height: auto;
    margin-bottom: 20px;
  }
  
  .spacer {
    display: block;
    height: 10px; /* Adjust the height to control space */
  }
  